// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.login-box{
  margin:200px auto;
}
/*
.calender-box{
  margin:20px auto;
}
*/
.error-info{
  color:red;
}

.modal-width{
  width:600px;
}

.button--add::after{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  background: url("../images/ic_add_black_24px.svg") rgba(255,255,255,0.8);
  background-position: center;
  background-size:contain ;
  background-repeat: no-repeat;
  transform: translate(-100%);
}

.button--add:hover::after{
  transform: translate(0%);
}

.button--arrow-right::after{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  background: url("../images/ic_forward_black_24px.svg") rgba(255,255,255,0.8);
  background-position: center;
  background-size:contain ;
  background-repeat: no-repeat;
  transform: translate(-100%);
}

.button--arrow-right:hover::after{
  transform: translate(0%);
}

md-toast .md-toast-content {
    background-color: rgba(255,255,255,1);
  & .md-toast-text{
    color:rgb(40,53,147);

  }
}