<section id="header">

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <pan>Verwaltungstool</pan>
            <span flex>{{status}}</span>


            <md-button class="md-raised button__hover-effect button__hover-effect--customer" aria-label="More"
                       ng-click="showCustomerDialog($event)">
                <md-icon md-svg-src="../../images/ic_person_black_24px.svg"></md-icon>
                Kunde
            </md-button>
            <md-button class="md-raised button__hover-effect button__hover-effect--resource" aria-label="More"
                       ng-click="showResourceDialog($event)">
                <md-icon md-svg-src="../../images/ic_home_black_24px.svg"></md-icon>
                Wohungen
            </md-button>

            <md-button class="md-raised button__hover-effect button__hover-effect--booking" aria-label="More"
                       ng-click="showBookingDialog($event)">
                <md-icon md-svg-src="../../images/ic_content_paste_black_24px.svg"></md-icon>
                Buchung
            </md-button>
            <md-button class="md-raised button__hover-effect button__hover-effect--logout" aria-label="More" ng-click="logout()">
                <md-icon md-svg-src="../../images/ic_power_settings_new_black_24px.svg"></md-icon>
                Logout
            </md-button>
        </div>
    </md-toolbar>

</section>

