<section id="header">


    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <pan>LOGO</pan>
            <h2>
                <span>Hier steht dann ein Text</span>
            </h2>
            <span flex>{{status}}</span>
            <md-button class="md-raised" aria-label="More" ng-click="showCustomerDialog($event)">
                Customer
            </md-button>
            <md-button class="md-raised" aria-label="More" ng-click="showResourceDialog($event)">
                Resource
            </md-button>

            <md-button class="md-raised" aria-label="More" ng-click="showBookingDialog($event)">
                Buchung
            </md-button>
            <md-button class="md-raised" aria-label="More" ng-click="logout()">
                Logout
            </md-button>
        </div>
    </md-toolbar>

</section>

