<md-dialog aria-label="Booking" ng-cloak class="modal-width">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Buchung</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="../../images/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
    <form name="bookingForm" layout-padding ng-submit="bookingForm.$valid && submit()">

        <!-- CUSTOMER -->
        <md-content class="md-block">
            <label>Kunde</label>
            <md-autocomplete
                    md-no-cache="customer.noCache"
                    md-selected-item="customer.selectedItem"
                    md-search-text="customer.searchText"
                    md-selected-item-change="customer.selectedCustomerItemChange(item)"
                    md-items="item in customer.querySearchCustomer(customer.searchText)"
                    md-item-text="item.LastName"
                    md-min-length="0"
                    placeholder="Wähle einen Kunden aus"
                    required="required">
                <md-item-template>
                    <span md-highlight-text="customer.searchText" md-highlight-flags="^i">{{item.FirstName}} {{item.LastName}}</span>
                </md-item-template>
                <md-not-found>
                    Keine Einträge für "{{customer.searchText}}" gefunden.
                </md-not-found>
            </md-autocomplete>
        </md-content>

        <!-- RESOURCE -->
        <md-content class="md-block">
            <label>Objekt</label>
        <md-autocomplete
                md-no-cache="resource.noCache"
                md-selected-item="resource.selectedItem"
                md-search-text="resource.searchText"
                md-selected-item-change="resource.selectedResourceItemChange(item)"
                md-items="item in resource.querySearchResource(resource.searchText)"
                md-item-text="item.Name"
                md-min-length="0"
                placeholder="Wähle ein zu buchendes Objekt"
                required="required">
            <md-item-template>
                <span md-highlight-text="resource.searchText" md-highlight-flags="^i">{{item.Name}}</span>
            </md-item-template>
            <md-not-found>
                Keine Einträge für "{{resource.searchText}}" gefunden.
            </md-not-found>
        </md-autocomplete>
        </md-content>

        <!-- SIZE -->
        <md-content>
        <md-input-container style="margin-right: 10px;" ng-show="isResource">
            <label>Personenanzahl</label>
            <md-select ng-model="size" required="required" ng-selected="size">
                <md-option ng-repeat="size in sizes" value="{{size}}" >{{size}}</md-option>
            </md-select>
        </md-input-container>
        </md-content>
        <!-- DATEPICKER -->
        <md-content flex-gt-sm>
        <h4>Startdatum</h4>
        <md-datepicker ng-model="myStartDate" md-placeholder="Startdatum"></md-datepicker>

        </md-content>
        <md-content flex-gt-sm>
        <h4>Enddatum</h4>
        <md-datepicker ng-model="myEndDate" md-placeholder="Enddatum"></md-datepicker>
        </md-content>


        <!-- BUTTONS -->
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-warn" ng-click="delete(bookingID)" ng-hide="isDelete">
                löschen
            </md-button>
            <span flex></span>
            <md-button class="md-warn" ng-click="cancel()">
                abbrechen
            </md-button>
            <md-button class="md-raised md-primary" type="submit">
                speichern
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>

