<md-dialog class="modal-width" aria-label="Customer"  ng-cloak ng-controller="CustomerCtrl">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Kunde</h2>
            <span flex></span>


            <md-content flex class="md-block" ng-hide="isSearch">
                <md-autocomplete
                        md-no-cache="customer.noCache"
                        md-selected-item="customer.selectedItem"
                        md-search-text="customer.searchText"
                        md-selected-item-change="customer.selectedCustomerItemChange(item)"
                        md-items="item in customer.querySearchCustomer(customer.searchText)"
                        md-item-text="item.LastName"
                        md-min-length="0"
                        placeholder="Wähle einen Kunden aus"
                        required="required">
                    <md-item-template>
                        <span md-highlight-text="customer.searchText" md-highlight-flags="^i">{{item.FirstName}} {{item
                            .LastName}}</span>
                    </md-item-template>
                    <md-not-found>
                        Keine Einträge für "{{customer.searchText}}" gefunden.
                    </md-not-found>
                </md-autocomplete>
            </md-content>


            <md-button class="md-icon-button" ng-click="showSearchField()">
                <md-icon md-svg-src="../../images/ic_search_black_24px.svg" aria-label="Search"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../../images/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form name="customerForm" layout-padding ng-submit="customerForm.$valid && submit()">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Firma </label>
                <input ng-model="company">
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Vorname</label>
                <input ng-model="firstname" required>
                <div ng-messages="customerForm.firstname.$error">
                    <div ng-message="required">Bitte ausfüllen</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Nachname</label>
                <input ng-model="lastname" required>
                <div ng-messages="customerForm.lastname.$error">
                    <div ng-message="required">Bitte ausfüllen</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container flex="33">
                <label>Tag</label>
                <md-select ng-model="dayOfBirth" required="required">
                    <md-option ng-repeat="dayOfBirth in dayOfBirths" value="{{dayOfBirth}}">{{dayOfBirth}}</md-option>
                </md-select>
                <div ng-messages="customerForm.dayOfBirth.$error">
                    <div ng-message="required">Bitte ausfüllen</div>
                </div>
            </md-input-container>

            <md-input-container  flex="33">
                <label>Monat</label>
                <md-select ng-model="monthOfBirth" required="required">
                    <md-option ng-repeat="monthOfBirth in monthOfBirths" value="{{monthOfBirth}}">{{monthOfBirth}}</md-option>
                </md-select>
                <div ng-messages="customerForm.monthOfBirth.$error">
                    <div ng-message="required">Bitte ausfüllen</div>
                </div>
            </md-input-container>

            <md-input-container flex="33">
                <label>Jahr</label>
                <md-select ng-model="yearOfBirth" required="required">
                    <md-option ng-repeat="yearOfBirth in yearOfBirths" value="{{yearOfBirth}}">{{yearOfBirth}}</md-option>
                </md-select>
                <div ng-messages="customerForm.yearOfBirth.$error">
                    <div ng-message="required">Bitte ausfüllen</div>
                </div>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Strasse</label>
            <input ng-model="street" required>
            <div ng-messages="customerForm.street.$error">
                <div ng-message="required">Bitte ausfüllen</div>
            </div>
        </md-input-container>
            </div>

        <div layout-gt-sm="row">
            <md-input-container>
                <label>Postleitzahl</label>
                <input name="postalCode" ng-model="zipcode" required>
                <div ng-messages="customerForm.zipcode.$error">
                    <div ng-message="required">Bitte ausfüllen</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Stadt</label>
                <input ng-model="city" required>
                <div ng-messages="customerForm.city.$error">
                    <div ng-message="required">Bitte ausfüllen</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input ng-model="email" type="email" required>
                <div ng-messages="customerForm.email.$error">
                    <div ng-message="required">Bitte gültige Email eingeben</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Telefonnummer</label>
                <input name="phone" ng-model="phone" required>
                <div ng-messages="customerForm.phone.$error">
                    <div ng-message="required">Bitte ausfüllen</div>
                </div>
            </md-input-container>
        </div>


        <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Zusatzinformation</label>
            <textarea ng-model="custom" md-maxlength="150" rows="7" md-select-on-focus></textarea>
        </md-input-container>
        </div>

        <!-- BUTTONS -->
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-warn" ng-click="delete(customerID)" ng-hide="isDelete">
                löschen
            </md-button>
            <span flex></span>
            <md-button class="md-warn" ng-click="cancel()">
                abbrechen
            </md-button>
            <md-button class="md-raised md-primary" type="submit">
                speichern
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
