<md-dialog aria-label="Resource"  ng-cloak class="modal-width">
    <md-toolbar>
        <div class="md-toolbar-tools ">
            <h2>Objekt</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../../images/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form name="resourceForm" layout-padding ng-submit="resourceForm.$valid && submit()">
        <!-- NAME -->
        <md-content>
        <md-input-container class="md-block">
            <label>Name</label>
            <input required="required" name="name" ng-model="name">
            <div ng-messages="resourceForm.name.$error">
                <div ng-message="required">Bitte ausfüllen</div>
            </div>
        </md-input-container>
        </md-content>
    <!-- SIZE -->
        <md-content>
        <md-input-container class="md-block">
            <label>Personenanzahl</label>
            <input required type="number" step="any" name="rate" ng-model="size" min="1"
                   max="10"  />
            <div ng-messages="resourceForm.size.$error">
                <div ng-message="required">Bitte ausfüllen</div>
            </div>
        </md-input-container>
        </md-content>
    <!-- BUTTONS -->
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-warn" ng-click="delete(resourceID)" ng-hide="isDelete">
                löschen
            </md-button>
            <span flex></span>
            <md-button class="md-warn" ng-click="cancel()">
                abbrechen
            </md-button>
            <md-button class="md-raised md-primary" type="submit" ng-click="answer('Wohnung hinzugefügt')">
                speichern
            </md-button>
        </md-dialog-actions>
    </form>


</md-dialog>
