<md-dialog aria-label="Resource"  ng-cloak ng-controller="ResourceCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools modal-width">
            <h2>Resources</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form name="resourceForm" layout-padding ng-submit="resourceForm.$valid && submit()">
        <!-- NAME -->
        <md-input-container class="md-block">
            <label>Name</label>
            <input required="required" name="name" ng-model="name">
            <div ng-messages="resourceForm.name.$error">
                <div ng-message="required">Bitte ausfüllen</div>
            </div>
        </md-input-container>

    <!-- SIZE -->
        <md-input-container class="md-block">
            <label>Personenanzahl</label>
            <input required type="number" step="any" name="rate" ng-model="size" min="1"
                   max="10"  />
        </md-input-container>

    <!-- BUTTONS -->
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn" ng-click="cancel()">
                abbrechen
            </md-button>
            <md-button class="md-raised md-primary" type="submit">
                speichern
            </md-button>
        </md-dialog-actions>
    </form>


</md-dialog>
